input {
  width: 300px;
  margin-right: 20px;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.map-container {
  height: 400px;
  display: flex;
  margin-top: 20px;
  background: #AAA;
  color: #000;
}

.listing {
  overflow: auto;
  border-left: #000 solid;
}

.map {
  width: 500px;
  height: 100%;
}

#resultsTable {
  width: 250px;
}

.details-container {
  position: absolute;
  right: 0;
  height: 100vh;
  background: rgba(228, 228, 228, 1);
  color: #282c34;
  padding: 5px;
  box-sizing: border-box;
  transition: width 1s;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.toggle {
  font-size: 25px;
  cursor: pointer;
}

.details-container h1 {
  margin: 0;
}

.details-container .detail-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.details {
  padding-left: 35px;
}

.detail-item {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

.detail-icon {
  height: 35px;
  padding-right: 5px;
}

.detail-button {
  position: fixed;
  bottom: 0;
}

.votes-container {
  padding-right: 20px;
}

.suggestions-container h3 {
  margin: 0;
}