:root {
  --primary-color: rgba(1, 87, 155, 1);
  --secondary-color: rgba(33, 33, 33, 1);
  --success-color: rgba(38, 166, 154, 1);
  --failure-color: rgba(229, 115, 115, 1);
  --disabled-color: rgba(0, 0, 0, 0.42);
  --popout-color: rgba(228, 228, 228, 1);
}

body {
  margin: 0;
  color: #FFFFFF;
  background-color: var(--secondary-color);
}

nav {
  top: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
}

h2,
h3 {
  margin: 0;
}

nav h2 {
  padding: 10px;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
body,
span,
input,
button {
  font-family: 'Raleway', sans-serif;
}

hr {
  margin: 20px;
  border: 1px solid rgba(160, 160, 160, 0.2);
}

.input-container {
  width: 65%;
  margin: auto;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
}

.input-container span {
  font-size: 12px;
  opacity: 0;
}

input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
}

input:focus+label,
input:not(:placeholder-shown)+label {
  top: -10px;
  font-size: 12px;
}

input:valid {
  border-bottom: 2px solid var(--success-color);
}

input:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid var(--failure-color);
}

input:valid~span,
input:valid~label {
  color: var(--success-color);
  opacity: 1;
}

input:valid~span {
  opacity: 0;
}

input:invalid:not(:placeholder-shown)~span,
input:invalid:not(:placeholder-shown)~label {
  color: var(--failure-color);
  opacity: 1;
}

label {
  top: 10px;
  left: 0;
  position: absolute;
  transition: all .25s;
  pointer-events: none;
  color: var(--primary-color);
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

button[type="reset"] {
  background-color: var(--secondary-color);
  margin-right: 10px;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.toast-container {
  bottom: 0;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  padding: 10px;
  position: fixed;
  text-align: center;
  align-items: center;
  margin-bottom: -10%;
  transition: all 0.5s;
  background: var(--secondary-color);
}

.toast-close {
  margin-left: 25px;
  color: #FFFFFF;
  cursor: pointer;
}

.toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  width: 30%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  background-color: #FFFFFF;
  color: var(--secondary-color);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-message {
  font-weight: bold;
}

.left,
.right {
  top: 0;
  z-index: 1;
  width: 23%;
  height: 100%;
  display: flex;
  position: fixed;
  transition: margin 1s;
  flex-direction: column;
  color: var(--secondary-color);
  background: var(--popout-color);
}

.left>*,
.right>*,
.details-container>* {
  margin: 10px;
}

.left {
  left: 0;
  margin-top: 50px;
  margin-left: -25%;
}

.left-menu-open {
  margin-left: 0;
}

.left .toggle {
  text-align: right;
}

.chat-container {
  height: 50%;
  cursor: text;
  padding: 5px;
  overflow: auto;
  background: #FFFFFF;
  box-shadow: inset 0 0 5px #000000;
}

.chat-textarea {
  height: 100%;
  width: 100%;
  padding: 0;
}

.chat-date {
  margin-left: 10px;
  opacity: 0.65;
  font-size: .85em;
}

.chat-inner-container {
  display: flex;
}

.chat-icon-container {
  float: left;
  margin: 5px 10px 0 0;
}

.chat-icon {
  width: 30px;
  height: 30px;
  color: #FFFFFF;
  background: var(--secondary-color);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 3px;
}

.chat-message {
  padding-bottom: 10px;
}

.right {
  right: 0;
  margin-right: -25%;
}

.right-menu-open {
  margin-right: 0;
}

.map-container {
  height: 400px;
  display: flex;
  margin-top: 20px;
  background: #AAA;
  color: #000;
}

.listing {
  overflow: auto;
  border-left: var(--secondary-color) solid;
}

.map {
  width: 100%;
  height: 100%;
}

#resultsTable {
  width: 250px;
}

.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.detail-item {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

.detail-icon {
  height: 35px;
  padding-right: 5px;
}

.center {
  width: 50%;
  margin-top: 50px;
  overflow: auto;
}

.vote-form {
  display: flex;
}

.vote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border: 1px solid;
  border-radius: 5px;
}

.vote-form>div:first-child {
  justify-content: flex-end;
}

.vote-form>div {
  width: 50%;
  display: flex;
  margin: 5px;
  align-items: center;
}

.vote-form>div>h2 {
  margin: 5px;
  cursor: pointer;
  -webkit-text-stroke: 1px #000000;
}

.vote-checkmark {
  color: var(--success-color);
}