:root {
  --primary-color: rgba(1, 87, 155, 1);
  --secondary-color: rgba(33, 33, 33, 1);
  --success-color: rgba(38, 166, 154, 1);
  --failure-color: rgba(229, 115, 115, 1);
  --disabled-color: rgba(0, 0, 0, 0.42);
  --menu-color: rgb(47, 52, 61, 1);

  --user-color-NaN: var(--secondary-color);
  --user-color-0: #d81b60;
  --user-color-1: #8e24aa;
  --user-color-2: #3949ab;
  --user-color-3: #1e88e5;
  --user-color-4: #00acc1;
  --user-color-5: #00897b;
  --user-color-6: #43a047;
  --user-color-7: #ffb300;
  --user-color-8: #fb8c00;
  --user-color-9: #f4511e;
  --user-color-10: #e53935;

  --user-color-active: var(--success-color);
  --user-color-offline: var(--secondary-color);
  --user-color-away: #ffd21f;

  --update-color: rgba(255, 179, 0, 1);
}

body {
  margin: 0;
  color: #FFFFFF;
  background-color: var(--secondary-color);
}

h2 {
  cursor: pointer;
}

h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
body,
span,
input,
button {
  font-family: 'Raleway', sans-serif;
}

input, select {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
}

input:focus+label,
input:not(:placeholder-shown)+label {
  top: -10px;
  font-size: 12px;
}

input:valid {
  border-bottom: 2px solid var(--success-color);
}

input:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid var(--failure-color);
}

input:valid~span,
input:valid~label {
  color: var(--success-color);
  opacity: 1;
}

input:valid~span {
  opacity: 0;
}

input:invalid:not(:placeholder-shown)~span,
input:invalid:not(:placeholder-shown)~label {
  color: var(--failure-color);
  opacity: 1;
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #FFFFFF;
  margin-right: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  transition: background 0.5s;
  background-color: var(--primary-color);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: rgba(1, 87, 155, 0.7);
}

button[type="reset"] {
  background-color: var(--secondary-color);
  margin-right: 10px;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex-center-vertical {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.update-field {
  border-radius: 5px;
  margin: 1px 0 1px 0;
  transition: background 3s;
}

.input-container {
  width: 65%;
  margin: auto;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
}

.input-container span {
  font-size: 12px;
  opacity: 0;
}

.input-container label {
  top: 10px;
  left: 0;
  position: absolute;
  transition: all .25s;
  pointer-events: none;
  color: var(--primary-color);
}

.button {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 0 0.5px #000000;
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.5s;
}

.button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.root {
  min-height: 100vh;
}

.login-form {
  width: 30%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  background-color: #FFFFFF;
  color: var(--secondary-color);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form hr {
  margin: 20px;
  border: 1px solid rgba(160, 160, 160, 0.2);
}

.login-message {
  white-space: pre;
  font-weight: bold;
}

nav {
  top: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  justify-content: space-between;
  background: var(--primary-color);
}

nav,
.right,
.left,
.menu-button-div {
  box-shadow: 0 0 3px #000000;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
}

.center {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0 20px 0 20px;
  margin-top: 50px;
  overflow: auto;
  transition: margin 1s;
}

.vote-form>div:first-child,
.search-form>div:first-child {
  justify-content: flex-end;
}

.vote-form>div:nth-child(2),
.search-form>div>input {
  width: 75%;
}

.vote-form>div,
.search-form>div {
  width: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
}

.vote-form h1 {
  margin: 0 20px 0 20px;
  display: flex;
}

.vote-form h2,
.vote-form h3 {
  margin: 5px;
}

.vote-form h1,
.vote-form h2,
.vote-form h3 {
  cursor: pointer;
}

.vote-form h3:hover {
  text-decoration: underline;
}

.vote-checkmark {
  color: var(--success-color);
}

.vote-remove {
  color: var(--failure-color);
}

.vote-count {
  width: 30px;
  border: 1px solid;
  border-radius: 5px;
}

.search-form>div:first-child {
  width: 100%;
}

.map-container {
  height: 400px;
  margin-top: 20px;
  background: var(--menu-color);
}

.map {
  width: 100%;
  height: 100%;
}

.listings-container {
  overflow: auto;
  color: #FFF;
  cursor: pointer;
  transition: all 1s;
}

.listings>tr>td:first-child {
  color: #000;
  padding: 5px;
  display: flex;
  position: relative;
  justify-content: center;
}

.listings>tr>td>img {
  height: 40px;
}

.listings>tr>td>span {
  position: absolute;
  margin-top: 5px;
  font-weight: bold;
}

.info-window-container {
  background: var(--menu-color);
}

.gm-style .gm-style-iw-c {
  background: var(--menu-color);
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background: var(--menu-color);
}

.gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.left,
.right {
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100%;
  color: #FFFFFF;
  position: fixed;
  transition: margin 1s;
  flex-direction: column;
  background: var(--menu-color);
}

.chat-form,
.chat-container,
.details-div>div>*,
.details-welcome-div>* {
  margin: 10px;
}

.menu-button-div {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.1);
}

.left {
  left: 0;
}

.left-menu-toggled {
  margin-left: -25%;
}

.center-menu-left {
  margin-left: 0;
}

.notification-icon {
  position: relative;
}

.notification-balloon,
.notification-count {
  display: none;
}

.notification-balloon {
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  position: absolute;
  color: var(--update-color);
}

.notification-count {
  top: -2px;
  right: 5px;
  font-size: 15px;
  color: black;
  position: absolute;
}

.chat-container {
  height: 100%;
  cursor: text;
  padding: 5px;
  overflow: auto;
  box-shadow: inset 0 0 5px #000000;
}

.chat-textarea {
  width: 100%;
  padding: 0;
  resize: none;
}

.chat-status {
  margin-right: 10px;
  color: var(--user-color-active);
}

.chat-date {
  margin-left: 10px;
  opacity: 0.65;
  font-size: .85em;
}

.chat-icon-container {
  float: left;
  margin: 5px 10px 0 0;
}

.chat-icon {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  color: var(--menu-color);
}

.chat-icon-large {
  width: 75px;
  height: 75px;
  margin: auto;
}

.chat-message {
  padding-bottom: 10px;
  white-space: pre-wrap;
  word-break: break-word;
}

.unread-div hr {
  width: 100%;
  border-color: var(--update-color);
}

.unread-div h6 {
  width: fit-content;
  margin: 0 5px 0 5px;
  color: var(--update-color);
}

.new-messages-button {
  bottom: 0;
  display: none;
  position: sticky;
  white-space: pre;
}

.tools-container {
  height: 100%;
}

.users-container {
  height: calc(100% - 75px);
  overflow: auto;
}

.users-container table {
  width: 100%;
}

.users-container input {
  margin: 0;
  width: fit-content;
}

.time-form > * {
  margin: 10px;
}

.right {
  right: 0;
}

.right-menu-toggled {
  margin-right: -25%;
}

.center-menu-right {
  margin-right: 0;
}

.photo {
  width: 95%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.star-icon {
  height: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

.detail-icon {
  height: 35px;
  padding-right: 5px;
}

.toast-container {
  bottom: 0;
  z-index: 1;
  opacity: 0.9;
  padding: 10px;
  position: fixed;
  margin-bottom: -10%;
  transition: all 0.5s;
  background: var(--secondary-color);
}

.toast-close {
  margin-left: 25px;
  color: #FFFFFF;
  cursor: pointer;
}

.overlay {
  top: 0;
  width: 0;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  background: #000;
  transition: all 1s;
}

@media screen and (max-width: 1000px) {

  .login-form {
    width: 40%;
  }

  .left,
  .right {
    width: 45%;
  }

  .left {
    margin-left: -45%;
  }

  .right {
    margin-right: -45%;
  }

  .center {
    margin-left: 0;
    margin-right: 0;
  }

  .left-menu-toggled {
    margin-left: 0;
  }

  .right-menu-toggled {
    margin-right: 0;
  }

  .overlay-toggled {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {

  .login-form {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {

  .login-form {
    width: 60%;
  }

  .left,
  .right {
    width: 75%;
  }

  .left {
    margin-left: -75%;
  }

  .right {
    margin-right: -75%;
  }

  .left-menu-toggled {
    margin-left: 0;
  }

  .right-menu-toggled {
    margin-right: 0;
  }
}